<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>California Wildfire</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slide.css') }}" media="screen">
    <script src="{{ url_for('static', filename='js/slide.js') }}"></script>

  </head>

  <body background="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1140&q=80">
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li><a href="/map">CA Wildfire Map</a></li>
                  <li><a href="/weather">CA Weather Map</a></li>
                  <li><a href="/prediction">CA Climate Trends</a></li>
                </ul>
              </li>
              <li><a href="/">Home</a></li>
              <li><a href="/form">Donate</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-12">
          <article class="description-content">
            <h1 class="description-header">California Wildfire 101</h1>
            <hr class="description-hr"/>
            <iframe width="1050" height="500" src="https://www.youtube.com/embed/gxt7L4x_NQo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>The Camp Fire was the deadliest and most destructive wildfire incidents in California history and the most expensive natual disaster in the world in 2018 in terms of insured losses. Named after 
              Camp Creek Road, its place of origin, the fire started on November 8, 2018, in Northen Califonia and almost destroyed the whole town called Paradise.
            </p>
            <p>The Camp Fire is just one of many wildfire incidents in California. The causes of wildfire varies,including dry weather, power lines and electrical equipment, arson and cigarettes. Our team is going to investigate and visualize the correlation between frequency of wildfire and other factors
              in California. We are going to focus on the weather factor given the timeframe.
              
            </p>
          </article>
        </div>
        
      </section>

      <section class="row">
        <div class="col-md-12">
            <!-- Container for the image gallery -->
<div class="container-slide">`

    <!-- Full-width images with number text -->
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
        <img src="https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
        <img src="https://images.unsplash.com/photo-1559018616-b4b784ee5978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
        <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
        <img src="https://images.unsplash.com/photo-1512746133319-6559ec0c1f39?ixlib=rb-1.2.1&auto=format&fit=crop&w=1386&q=80" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
        <img src="https://images.unsplash.com/photo-1567519464256-43f67647f4a6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
        <img src="https://images.unsplash.com/photo-1469300856708-8e29a6c85ccc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" style="width:100%">
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
    <!-- Image text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>
  
    <!-- Thumbnail images -->
    <div class="row">
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:100%" onclick="currentSlide(1)" alt="Yosemite">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1559018616-b4b784ee5978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:100%" onclick="currentSlide(2)" alt="Wildlife">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:100%" onclick="currentSlide(3)" alt="Half Dome">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1512746133319-6559ec0c1f39?ixlib=rb-1.2.1&auto=format&fit=crop&w=1386&q=80" style="width:100%" onclick="currentSlide(4)" alt="California Avenue">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1567519464256-43f67647f4a6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" style="width:100%" onclick="currentSlide(5)" alt="Redwood forest">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1469300856708-8e29a6c85ccc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" style="width:100%" onclick="currentSlide(6)" alt="Big Sur">
      </div>
    </div>
  </div>
        </div>

      </section>
    </div>
    <!-- End of container -->

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        Sophie Wang, Devin Barger, Amy Wei, Mana Ghazanfari
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

</html>
